server:
  port: 9002
  shutdown: graceful
  netty:
    connection-timeout: 2s
    idle-timeout: 15s
spring:
  application:
    name: order-service
  lifecycle:
    timeout-per-shutdown-phase: 15s
  r2dbc:
    url: r2dbc:postgresql://localhost:5433/solardb_order
    username: user
    password: secret
    pool:
      max-create-connection-time: 2s
      initial-size: 5
      max-size: 10
